<section class="section">
  <div class="container">
    <p class="has-text-centered"><a href="{{ row_item.the_file["url"] }}" class="underline-link" target="_blank">{{ row_item.link_text }}</a></p>
  </div>
</section>
