
<div class="heros hero--slider">

	<div class="slick-product">
		{% for slide in row_item.images %}
			<div class="slick-background-image" style="background-image: url({{ TimberImage(slide).src | resize(1600) | retina(2) }})"></div>
		{% endfor %}
	</div>

</div>
