.acf-map
    width: 100%
    height: 400px
    border: #ccc solid 1px
    margin: 20px 0


/* fixes potential theme css conflict */
.acf-map img
   max-width: inherit !important

.contact_map
    position: relative
    overflow: hidden
    width: 100vw
    height: 100vh

    .columns
        height: 100%

    .column
        position: relative
        height: 100%

    .section
        display: flex
        height: 100%
        flex-direction: column
        justify-content: center

    img
        position: absolute
        bottom: 0
        max-width: none
        width: 100%
        height: 100%
        object-fit: cover;

    p
        font-size: 1.125rem

.title h1
    font-size: 2.25rem