.text_and_logos
    margin-top: 5rem
    .section
        height: 100%
        padding: 3rem 1.25rem
        +tablet
            padding: 3rem 4.125rem

    .is-multiline
        height: 100%
        justify-content: space-between

    img
        display: inline-block
        position: relative
        top: 50%
        transform: translateY(-50%)

    .col1 img
        margin-top: 50px

.text_and_logos_columns
    margin-top: 0
    h4
        margin-bottom: 1rem
    .column .section
        height: 100%
        padding: 3rem 1.25rem
        +tablet
            padding: 3rem 6rem

    .is-multiline
        height: 100%
        justify-content: space-between

    img
        display: inline-block
        position: relative
        top: 50%
        transform: translateY(-50%)

    .col1 img
        margin-top: 50px

    .logo
        padding-top: 2rem
        padding-bottom: 2rem