.nav-main-placeholder
  height: 51px

.nav-main
  position: fixed
  top: 0
  height: 51px
  width: 100%
  background-color: #fff
  padding: 15px 20px
  z-index: 10
  +tablet
    background-color: transparent

  .nav-main-home
    position: relative
    float: left
    .over
      position: absolute
      top: 0
      opacity: 0
      transition: opacity 0.2s
      z-index: 2

  &.dark-menu
    .nav-main-home .over
      opacity: 1
    .nav-main-menu
      color: $red
    .circle
      background-color: $red

  &.dark-right-menu
    .nav-main-menu
      color: $red
    .circle
      background-color: $red

  &.dark-left-menu
    .nav-main-home .over
      opacity: 1

  .nav-main-menu
    position: relative
    float: right
    padding-top: 2px
    padding-right: 15px
    cursor: pointer
    color: $black
    +tablet
      padding-top: 44px
      color: $white
      transition: color 0.2s
  .circle
    position: absolute
    top: 11px
    right: 0
    display: block
    width: 8px
    height: 8px
    background-color: $black
    border-radius: 100px
    +tablet
      top: 53px
      background-color: $white
      transition: background-color 0.2s
  #nav-main-menu--dropdown
    text-indent: -9999px
    opacity: 0

  ul
    display: none


.navbar
  &.is-transparent
    background-color: transparent

    a.navbar-item:hover, a.navbar-item.is-active, a.navbar-link:hover, a.navbar-link.is-active
      &:hover
        background: transparent

  &.is-top
    position: absolute
    left: 0
    right: 0
    z-index: 10

  .page-id-2 &
    +touch
      background-color: rgba(black, 0.8)
      // box-shadow: 0 10px 40px 10px rgba(black, 0.8)
