{% extends "base.twig" %}

{% block content %}

	<div class="sections-menu">
		<a href="/journey" class="sections-menu-item">
			<img src="{{ site.theme.link }}/img/arrow-left.svg"> <span class="sections-menu-item-label">The Journey</span>
		</a>
		<a href="/" class="sections-menu-item">
			<span class="sections-menu-item-label">Tough Conversations</span>
			<img src="{{ site.theme.link }}/img/arrow-right.svg">
		</a>
	</div>

	{% for row_item in post.get_field('row') %}

		{% if row_item.acf_fc_layout == 'menu' %}
			{% include 'partial/menu.twig' %}

		{% elseif row_item.acf_fc_layout == 'hero_1' %}
			{% include 'partial/hero_1.twig' %}

		{% elseif row_item.acf_fc_layout == 'hero_2' %}
			{% include 'partial/hero_2.twig' %}

		{% elseif row_item.acf_fc_layout == 'hero_3' %}
			{% include 'partial/hero_2.twig' %}

		{% elseif row_item.acf_fc_layout == 'image_left_text_right' %}
			{% include 'partial/image_left_text_right.twig' %}

		{% elseif row_item.acf_fc_layout == 'text_left_image_right' %}
			{% include 'partial/text_left_image_right.twig' %}

		{% elseif row_item.acf_fc_layout == 'background_image_text_overlay_on_right' %}
			{% include 'partial/background_image_text_overlay_on_right.twig' %}

		{% elseif row_item.acf_fc_layout == 'comparison_table' %}
			{% include 'partial/comparison_table.twig' %}

		{% elseif row_item.acf_fc_layout == 'specifications' %}
			{% include 'partial/specifications.twig' %}

		{% elseif row_item.acf_fc_layout == 'two_column_text_row' %}
			{% include 'partial/two_column_text_row.twig' %}

		{% elseif row_item.acf_fc_layout == 'features' %}
			{% include 'partial/features.twig' %}

		{% elseif row_item.acf_fc_layout == 'raw_html' %}
			{% include 'partial/raw_html.twig' %}

		{% elseif row_item.acf_fc_layout == 'large_image_with_3_rows_below' %}
			{% include 'partial/large_image_with_3_rows_below.twig' %}

		{% elseif row_item.acf_fc_layout == 'link_to_a_file' %}
			{% include 'partial/link_to_a_file.twig' %}

		{% elseif row_item.acf_fc_layout == 'features_hotspots' %}
			{% include 'partial/features_hotspots.twig' %}

		{% elseif row_item.acf_fc_layout == 'slider' %}
			{% include 'partial/slider.twig' %}

		{% endif %}

	{% endfor %}

{% endblock %}
